/*--------------------------------------------------------------
# Colours and background variables
--------------------------------------------------------------*/
/*Orange*/
/*--------------------------------------------------------------
# Generic Functions
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Page banner
--------------------------------------------------------------*/
/* line 7, ../../scss/pages/index.scss */
section.banner {
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../../images/watchdogs.jpg") no-repeat top center;
  height: 600px;
}
/* line 17, ../../scss/pages/index.scss */
section.banner .container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 21, ../../scss/pages/index.scss */
section.banner h1.siteName {
  position: relative;
  padding-bottom: 9px;
  margin: 40px 0px 50px;
  font-size: 4em;
  font-weight: bold;
  text-align: center;
}
/* line 26, ../../scss/pages/index.scss */
section.banner h1.siteName:after {
  content: '';
  display: block;
  position: absolute;
  left: 45%;
  margin-top: 20px;
  width: 10%;
  border-bottom: 3px solid #F15B29;
}
/* line 36, ../../scss/pages/index.scss */
section.banner h2.strapline {
  font-size: 2.5em;
  text-align: center;
  color: white;
}

/*--------------------------------------------------------------
# Top 5 games 
--------------------------------------------------------------*/
/* line 45, ../../scss/pages/index.scss */
section.top5ranking {
  font-weight: bold;
  color: white;
}
/* line 48, ../../scss/pages/index.scss */
section.top5ranking h2 {
  color: white;
  border-bottom: 1px solid white;
}
/* line 49, ../../scss/pages/index.scss */
section.top5ranking ul {
  padding: 0px;
}
/* line 50, ../../scss/pages/index.scss */
section.top5ranking ul li {
  list-style: none;
  padding: 0px;
}
/* line 51, ../../scss/pages/index.scss */
section.top5ranking ul li span {
  line-height: 51px;
  vertical-align: top;
}
/* line 52, ../../scss/pages/index.scss */
section.top5ranking figure {
  margin-right: 15px;
  display: inline-block;
  color: white;
  font-size: 1.8em;
}
/* line 54, ../../scss/pages/index.scss */
section.top5ranking .featured img {
  height: 100%;
  width: 100%;
  max-width: 555px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #83290b;
  background: white;
}

/*--------------------------------------------------------------
# Get our app
--------------------------------------------------------------*/
/* line 63, ../../scss/pages/index.scss */
section.tryOurApp img {
  margin-bottom: -31px;
  width: 100%;
  max-width: 424px;
}

/*--------------------------------------------------------------
# Media queries
--------------------------------------------------------------*/
@media only screen and (max-width: 992px) {
  /* line 73, ../../scss/pages/index.scss */
  section.tryOurApp .col-md-6:nth-child(2) {
    text-align: center;
  }
}
