@import url(https://fonts.googleapis.com/css?family=Lobster);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

body{
   font-family: 'PT Sans', sans-serif; font-size:1.8em;
}
.h2, .h3, .h4, .h5, .h6, h2, h3, h4, h5, h6 {
   font-family: 'Lobster', cursive;
   color:$primary-color;
}